<table>
  <th>name</th>
  <th>photo profile</th>
  <th>age</th>
  <th>phone number</th>
 <% console.log(users); %>
  <% users.map((user) => { %>
  <tr>
    <td><%= user.firstName %></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% }) %>
</table>
